#root{
  font-family: Muli, Asap, sans-serif;
}
#root > h*{
  font-family: source-han-sans-simplified-c,sans-serif;
}
body, html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: .75rem;
  overflow: hidden;
}
#desk {
  background-image: url("./assets/img/desk.png");
}
#paper {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(
    rgba(512,785,731,0.1) 0%, 
  rgba(255,255,53,0.2) 8%),
  url(https://www.memonotepad.com/img/paperfibers.png);
}

.weatherDisplayWidget {
  height: 0;
  width: 75%;
  border-radius: 50%;
  padding-top: 74%;
  .displayBody {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
.weatherDisplayWidgetExpanded {
  border-radius: 2rem;
}

table {
  position: relative;
}

