

nav(class="bg-dark navbar fixed-top navbar-expand-lg navbar-light px-2")
  a(href="/" class="text-light navbar-brand") Hub 
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon" aria-controls="basic-navbar-nav")

  div(class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent")
    div(class="ml-auto")
    a(class="nav-link text-light" href="/login") Sign In 

      