div( class="container")
  div( class="row")
    div( class="col-6")
      p( class="h4 text-center" ).
        Attract and engage with more visitors, while 
        having an information hub for everyone in the house to access.
      div( class="text-center" )
        a( class='btn btn-primary' href="/register") Sign Up Now!