div( id="Landing" class="h-100" )
  div( class="container h-100")
    div( class="row h-50 align-items-end")
      div( class="col-6")
        p( class="h4 text-primary text-center lead" ).
          Attract and engage with more visitors, while 
          having an information hub for everyone in the house to access.
        div( class="text-center" )
          a( class='btn btn-primary' href="/register") Sign Up Now!