div( class="container mx-auto h-100 w-25")
  div( class="row h-25 align-items-center" )
  form(action="/submissions/login" method="post" enctype="multipart/form-data")
    div(class="form-group mb-2")
      label(for="exampleInputEmail1" class="mb-1") Email Address 
      input(type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp")
    div(class="form-group mb-2")
      label(for="exampleInputPassword1" class="mb-1") Password
      input(type="password" class="form-control" name="password" id="exampleInputPassword1")
    div(class="form-group mb-2 form-check p-0")
      input(type="checkbox" name="form-check-input" id="exampleCheck1")
      label(class="form-check-label m-2" for="exampleCheck1") Remember Me
    div(class="form-group text-center m-3")
      button(type="submit" class="btn btn-primary" ) Log in
      button(type="button" class="btn btn-link" ) Don't have an account

