
$primary:       #386641;
$secondary:     #f2e8cf;


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";



@import "../node_modules/bootstrap/scss/bootstrap";


$mainHeight: 100vh;
$uiCardHeight : $mainHeight / 3;


	/* Array */
	// ["386641", "6a994e", "a7c957", "f2e8cf", "bc4749"]

/* Object */
// {
// 	"Hunter Green": "386641",
// 	"May Green": "6a994e",
// 	"Android Green": "a7c957",
// 	"Eggshell": "f2e8cf",
// 	"Deep Chestnut": "bc4749"
// }

/* Extended Array */
// [{
// 	"name": "Hunter Green",
// 	"hex": "386641",
// 	"rgb": [56, 102, 65],
// 	"cmyk": [45, 0, 36, 60],
// 	"hsb": [132, 45, 40],
// 	"hsl": [132, 29, 31],
// 	"lab": [39, -25, 16]
// }, {
// 	"name": "May Green",
// 	"hex": "6a994e",
// 	"rgb": [106, 153, 78],
// 	"cmyk": [31, 0, 49, 40],
// 	"hsb": [98, 49, 60],
// 	"hsl": [98, 32, 45],
// 	"lab": [58, -30, 34]
// }, {
// 	"name": "Android Green",
// 	"hex": "a7c957",
// 	"rgb": [167, 201, 87],
// 	"cmyk": [17, 0, 57, 21],
// 	"hsb": [78, 57, 79],
// 	"hsl": [78, 51, 56],
// 	"lab": [76, -29, 52]
// }, {
// 	"name": "Eggshell",
// 	"hex": "f2e8cf",
// 	"rgb": [242, 232, 207],
// 	"cmyk": [0, 4, 14, 5],
// 	"hsb": [43, 14, 95],
// 	"hsl": [43, 57, 88],
// 	"lab": [92, -1, 13]
// }, {
// 	"name": "Deep Chestnut",
// 	"hex": "bc4749",
// 	"rgb": [188, 71, 73],
// 	"cmyk": [0, 62, 61, 26],
// 	"hsb": [359, 62, 74],
// 	"hsl": [359, 47, 51],
// 	"lab": [47, 47, 24]
// }]




$platinum: #EBEBEB;
$carrotOrange: #DE8E33;
$sonicSilver: #757780;
th {
  position: sticky;
  top: 0;
}
.main{
  background-image: linear-gradient(to bottom right, $primary, #6A994E);
  height: $mainHeight ;
}
.uiCard{
  border-radius: 5px 30px 5px;
  padding: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}